#header
  width: 85%
  height: 100px
  background-color: darkblue
  float: right

#menu
  width: 20%
  position: absolute
  background-color: red
  float: left
  margin-left: 70%
  top: 6%

#header-button
  float: right
