#header
  height: 50px
  width: 85%
  background-color: #00557f
  float: right
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end

.menu-item
  float: right
  margin-right: 25px
  p
    color: white
    margin: 0 10px
    font-weight: bold
    cursor: pointer

#header-button
  float: right
  width: 50px
  height: 25px
  margin-top: 1%
  margin-right: 1%
