<div class="backdrop" [ngStyle] = "{'display': this.authService.getAuthModalDisplay()}"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle] = "{'display': this.authService.getAuthModalDisplay()}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modalCancelled()"><span aria-hidden="true">&times;</span></button>
        <button id="signupButton" class="btn btn-primary" *ngIf="displayType!='signup'" (click)="displayTypeChange('signup')">Signup</button>
        <button id="loginButton" class="btn btn-primary" *ngIf="displayType!='login'" (click)="displayTypeChange('login')">Login</button>
        <button id="logoutButton" class="btn btn-primary" *ngIf="displayType!='logout'" (click)="displayTypeChange('logout')">Logout</button>
      </div>

      <div class="modal-title">
        <h3 *ngIf="displayType=='signup'">Signup</h3>
        <h3 *ngIf="displayType=='login'">Login</h3>
        <h3 *ngIf="displayType=='logout'">Logout</h3>
      </div>

      <div class="modal-body">
        <form id="signupForm" [formGroup]="signupForm" (ngSubmit)="onSignup()" *ngIf="displayType=='signup'">
          <!-- Add form here -->
          <div class="form-group formInput" [ngClass]="{'has-error':!signupForm.controls['username'].valid && signupForm.controls['username'].touched}">
                <label for="username">Username</label>
                <input formControlName="username" type="text" id="username" #username class="form-control">
                <span *ngIf="!signupForm.controls['username'].pristine && signupForm.controls['username'].errors != null" class="errorMessage">Invalid username</span>
            </div>
          <div class="form-group formInput" [ngClass]="{'has-error':!signupForm.controls['email'].valid && signupForm.controls['email'].touched}">
                <label for="email">E-Mail</label>
                <input formControlName="email" type="email" id="email" #email class="form-control">
                <span *ngIf="!signupForm.controls['email'].pristine && signupForm.controls['email'].errors != null && signupForm.controls['email'].errors['noEmail']" class="errorMessage">Invalid email address</span>
            </div>
            <div class="form-group formInput" [ngClass]="{'has-error':!signupForm.controls['password'].valid && signupForm.controls['password'].touched}">
                <label for="password">Password</label>
                <input formControlName="password" type="password" id="password" class="form-control">
                <span *ngIf="!signupForm.controls['password'].valid && !signupForm.controls['password'].pristine" class="errorMessage">Invalid password</span>
            </div>
            <div class="form-group formInput" [ngClass]="{'has-error':!signupForm.controls['confirmPassword'].valid && signupForm.controls['confirmPassword'].touched}">
                <label for="confirm-password">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" id="confirm-password" #confirmPassword class="form-control">
                <span *ngIf="!signupForm.controls['confirmPassword'].pristine && signupForm.controls['confirmPassword'].errors != null && signupForm.controls['confirmPassword'].errors['passwordsNotMatch']" class="errorMessage">Passwords do not match</span>
            </div>
            <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign Up</button>
        </form>

        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()" *ngIf="displayType=='login'">
          <!-- Add form here -->
          <div class="form-group formInput" [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
            <label for="username">Username</label>
            <input formControlName="username" type="text" id="username" #username class="form-control">
            <span *ngIf="!loginForm.controls['username'].pristine && loginForm.controls['username'].errors != null" class="errorMessage">Invalid username</span>
          </div>
          <div class="form-group formInput" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
            <label for="password">Password</label>
            <input formControlName="password" type="password" id="password" class="form-control">
            <span *ngIf="!loginForm.controls['password'].valid && !loginForm.controls['password'].pristine" class="errorMessage">Invalid password</span>
          </div>
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button>
        </form>

        <div *ngIf="displayType=='logout'">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>

      </div>

      <div class="modal-footer">

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
