<div class="chat-single" *ngIf="chat.name==this.chatService.selectedGroup || this.selected">
  <p>{{groupname}}</p>
  <div class="chat-box">
    <section class="messages">
      <section class="message-list">
        <div class="message" *ngFor="let message of messages">
          <section class="message-time">
            <p>{{message.hour}}:{{message.minute}}</p>
          </section>
          <section class="message-box">
            <h4>{{message.user}}</h4>
            <hr />
            <section class="message-text">
              <p>{{message.text}}</p>
            </section>
          </section>
         </div>
       </section>
     </section>
   </div>
   <div class="message-input-box">
     <textarea class="message-input" [(ngModel)]="message" (window:keydown)="sendMessageByKey($event)"></textarea>
     <button class="message-button" (click)="sendMessage()">Send Message</button>
     <button *ngIf="this.chat.isGroup" class="group-button" (click)="showGroupDetails(this.chat)">Group Details</button>
   </div>
 </div>
