<logo-component></logo-component>
<header-component></header-component>
<section class="second-section" *ngIf="!profileService.showing">
  <section class="contacts">
    <contact-list-component></contact-list-component>
  </section>
  <section class="chat-and-tabs">
    <tabs-component class="chat-tabs"></tabs-component>
    <section class="group-content">
      <chat-container-component class="chat-container"></chat-container-component>
      <aside class="todos">
        <todo-container-component></todo-container-component>
      </aside>
    </section>
  </section>
</section>
<section class="profile" *ngIf="profileService.showing">
  <profile-component></profile-component>
</section>

<footer>

</footer>
