
<section class="page-container">
  <logo-component *ngIf="authService.userIsLoggedIn"></logo-component>
  <header-component *ngIf="authService.userIsLoggedIn"></header-component>

  <div>
    <button (click)="this.profileService.setManualUser('Max'); this.chatService.connectToOverall(); this.notificationService.connectToOverall(); this.contactService.connectToOverall(); this.todoService.connectToOverall()">Max</button>
    <button (click)="this.profileService.setManualUser('Tom'); this.chatService.connectToOverall(); this.notificationService.connectToOverall(); this.contactService.connectToOverall(); this.todoService.connectToOverall()">Tom</button>
    <button (click)="this.profileService.setManualUser('Lucie'); this.chatService.connectToOverall(); this.notificationService.connectToOverall(); this.contactService.connectToOverall(); this.todoService.connectToOverall()">Lucie</button>
  </div>

  <section class="second-section" *ngIf="authService.userIsLoggedIn && !profileService.showing && !notificationService.showing">
    <section class="contacts">
      <contact-list-component></contact-list-component>
    </section>
    <section class="chat-and-tabs">
      <tabs-component class="chat-tabs"></tabs-component>
      <section class="group-content">
        <chat-container-component class="chat-container"></chat-container-component>
        <aside class="todos">
          <todo-list-component></todo-list-component>
        </aside>
      </section>
    </section>
  </section>

  <section class="profile" *ngIf="authService.userIsLoggedIn && profileService.showing">
    <profile-component></profile-component>
  </section>

  <section class="notifications" *ngIf="authService.userIsLoggedIn && notificationService.showing">
    <notification-list-component></notification-list-component>
  </section>

  <section class="landing" *ngIf="!authService.userIsLoggedIn">
  </section>
</section>

<footer>

</footer>

<auth-component></auth-component>

<create-todo></create-todo>
<delete-todo></delete-todo>
<edit-todo></edit-todo>

<add-new-contact></add-new-contact>
<remove-contact></remove-contact>

<add-new-group></add-new-group>
<edit-group></edit-group>
<group-details></group-details>
<leave-group></leave-group>
