<logo-component></logo-component>
<header-component></header-component>
<section class="second-section">
  <section class="contacts">
    <contact-list-component></contact-list-component>
  </section>
  <section class="chat-and-tabs">
    <tabs-component class="chat-tabs"></tabs-component>
    <section class="group-content">
      <chat-container-component class="chat-container"></chat-container-component>
      <aside class="todos">
        <todo-component></todo-component>
      </aside>
    </section>
  </section>
</section>
