.contact-list-button
  clear: both
  width: 100%
  padding: 10px
  margin: 0
  .new-message-count
    background-color: gray
    border-radius: 8px
    color: white
    font-size: 15px
    min-width: 18px
    position: absolute
    right: 87%
