<ul id="contact-list">
  <h4>Contacts</h4>
  <contact-list-item-component class="contact-list-item" [name]="user.name" [group]="false" *ngFor="let user of this.contactService.contactUsers"></contact-list-item-component>
  <button class="add-contact-button" (click)="addContact()">Add Contact</button>
  <h4>Groups</h4>
  <contact-list-item-component class="contact-list-item" [name]="group" [group]="true" *ngFor="let group of this.contactService.contactGroups"></contact-list-item-component>
  <button class="add-contact-button" (click)="addGroup()">Add Group</button>
</ul>
