#contact-list
  height: 100%
  width: 100%
  background-color: lightgray
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  padding: 0
  margin: 0
  overflow-y: scroll

.contact-list-item
  width: 100%

.add-contact-button
  margin-top: 2%
