<div class="backdrop" [ngStyle] = "{'display': display}"></div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle] = "{'display': display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modalCancelled()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create a new task</h4>
      </div>
      <div class="modal-body">
        <!-- Add form here -->
        <form id="create-todo-form" [formGroup]="createTodoForm" (ngSubmit)="this.onCreateTodoSubmitted()">
          <!-- Add form here -->
          <div class="form-group formInput">
            <label for="name">Task Name</label>
            <input formControlName="name" type="text" id="new-todo-name" #name class="form-control">
            <!-- <span>Invalid group name</span> -->
          </div>
          <div class="form-group new-todo-user">
            <label for="users">Users Task Is Assigned To</label>
            <div class="form-control user-list-for-todo" *ngIf="this.parentTodo==null">
              <div class="possible-user" [ngClass]="{'selected-user':selectedUsernames.includes(user.name)}" *ngFor="let user of this.contactService.contactUsers" value=users (click)="updateCheckedUsers(user)">{{user.name}}</div>
            </div>
            <div class="form-control user-list-for-todo" *ngIf="this.parentTodo!=null">
              <div class="possible-user" [ngClass]="{'selected-user':selectedUsernames.includes(user.name)}" *ngFor="let user of this.parentTodo.users" value=users (click)="updateCheckedUsers(user)">{{user.name}}</div>
            </div>
          </div>
          <div class="form-group">
            <p><b>Assigned Users</b></p>
            <p class="new-users" *ngFor="let name of this.selectedUsernames"> {{name}} </p>
          </div>
          <div class="form-group">
            <label for="importance">Importance</label>
            <select class="form-control" formControlName="importance" #importance>
              <option value="">Select Importance</option>
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>
          </div>

          <div class="form-group formInput">
            <label for="name">Due Date</label>
            <div class="select-time-group">
              <select class="form-control" formControlName="day" #day>
                <option value="">Select Day</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option *ngIf="this.createTodoForm.value.month!=2 ||
                (this.createTodoForm.value.year%400==0 ||
                this.createTodoForm.value.year%4==0 && this.createTodoForm.value.year%100!=0)"
                value="29">29</option>
                <option *ngIf="this.createTodoForm.value.month!=2" value="30">30</option>
                <option *ngIf="this.createTodoForm.value.month!=2" value="31">31</option>
              </select>

              <select class="form-control" formControlName="month" #month>
                <option value="">Select Month</option>
                <option value="0">January</option>
                <option value="1">February</option>
                <option value="2">March</option>
                <option value="3">April</option>
                <option value="4">May</option>
                <option value="5">June</option>
                <option value="6">July</option>
                <option value="7">August</option>
                <option value="8">September</option>
                <option value="9">October</option>
                <option value="10">November</option>
                <option value="11">December</option>
              </select>

              <select class="form-control" formControlName="year" #year>
                <option value="">Select Year</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
              </select>
            </div>
            <!--<input formControlName="name" type="text" id="new-todo-name" #due class="form-control">__>
            <!-- <span>Invalid group name</span> -->
          </div>

          <div class="form-group formInput">
            <label for="details">Other Details</label>
            <input formControlName="details" type="text" id="new-todo-details" #details class="form-control">
            <!-- <span>Invalid group name</span> -->
          </div>
          <button type="submit" class="btn btn-primary">Create New Task</button>
          <button type="button" class="btn btn-default" (click)="modalCancelled()">Cancel</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
