.profile-container
  padding-top: 5%
  padding-left: 5%
  padding-right: 5%
  h1
    margin-right: 25px
    float: right
    margin-top: 0
  .name
    margin-top: 50px
  .contacts-and-groups
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%
    .contacts
      width: 50%
      .user-contacts
        width: 90%
        height: 150px
        margin: 0 5%
        border: gray solid 1px
        border-radius: 3px
        overflow-y: scroll
        overflow-x: hidden
        .user-contact-details
          display: flex
          flex-direction: row
          align-items: center
          justify-content: space-evenly
          margin: 5px 0
          p
            width: 50%
            margin: 0
            padding: 0
            text-align: center
            font-size: 16px
    .groups
      width: 50%
      .group-list
        width: 90%
        height: 150px
        margin: 0 5%
        border: gray solid 1px
        border-radius: 3px
        overflow-y: scroll
        overflow-x: hidden
        .user-group-details
          display: flex
          flex-direction: row
          align-items: center
          justify-content: space-evenly
          margin: 5px 0
          p
            width: 50%
            margin: 0
            padding: 0
            text-align: center
            font-size: 16px
  .task-list
    width: 100%
    height: 180px
    margin-top: 10px
    border: gray solid 1px
    border-radius: 3px
    overflow-y: scroll
    overflow-x: hidden
    .todo
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-evenly
      width: 100%
      .todo-details
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        margin: 5px 0
        p
          width: 50%
          margin: 0
          padding: 0
          text-align: center
          font-size: 16px


.task-list::-webkit-scrollbar, .group-list::-webkit-scrollbar, .contact-list::-webkit-scrollbar
  width: 1em

.task-list::-webkit-scrollbar-track, .group-list::-webkit-scrollbar-track, .contact-list::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

.task-list::-webkit-scrollbar-thumb, .group-list::-webkit-scrollbar-thumb, .contact-list::-webkit-scrollbar-thumb
  background-color: darkgrey
  outline: 1px solid slategrey
