<section class="profile-container">
  <h1>Your Profile</h1>

  <h2 class="name">Name</h2>
  <!-- display logged in users name -->

  <h2>Email</h2>
  <!-- display logged in users registered email -->

  <section class="contacts-and-groups">
    <section class="contacts">
      <h2>Contacts</h2>
      <!-- display a scrollable list of contacts -->
      <section class="contact-list">

      </section>
    </section>

    <section class="groups">
      <h2>Groups</h2>
      <!-- display a scrollable list of this users groups -->
      <section class="group-list">

      </section>
    </section>
  </section>

  <h2>Current Tasks</h2>
  <!-- display a scrollable list of this users assigned tasks, importances of each and due dates for each -->
  <section class="task-list">

  </section>

</section>
