.tab-button
  float: left
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  h4
    padding: 0
    margin: 5px
    float: left
  .tab-close-button
    float: right
    margin-top: 5px
    font-size: 17px
